.glass {
    background: rgba(27, 113, 96, 0.259);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease, transform 0.3s ease;
}

.glass:hover {
    background: rgba(255, 255, 255, 0.2);
    transform: scale(1.02);
}
